* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

canvas#gameboard {
    box-shadow: 12px 14px 54px #000000bd;
    background: black;
}
span.score-text {
    display: block;
    text-align: right;
}

.board_header {
    margin-bottom: 5px;
}
h1 {
    text-align: center;
    color: black;
    text-shadow: 1px 1px 10px #00000063;
}
